body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #444444;
}

.bg-steel {
  background-color: #5f788a;
}

.navbar-nav .nav-link {
  color: #cbd5db;
}

.navbar-nav .nav-link:hover {
  color: #ffffff;
}

.navbar-nav .nav-link.active {
  font-weight: 500;
}
