/*---- GLOBAL STYLES ---- */

/* Roboto: clean and functional */
@import url("https://fonts.googleapis.com/css?family=Roboto:300");

* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

/* ---- COMMON ----  */

h1,
h2,
h3,
h4,
h5,
h6 {
  text-shadow: none;
}

h1 {
  margin-top: 1rem;
  text-align: left;
}

h2 {
  margin-top: 30px;
  margin-bottom: 30px;
}

h5 {
  text-align: left;
}

section {
  position: relative;
  margin-left: 1em;
  margin-right: 1em;
}

section > button {
  position: absolute;
  right: 0;
  top: 0;
}

.table td,
.table th,
.table tr {
  vertical-align: middle;
}

ion-icon[name="trash-outline"] {
  background-color: #fff;
  color: #dc3545;
}

/* individual components */

/* == index.html == */

#jumbotron {
  width: 35%;
  padding: 1rem;
  margin-left: 2rem;
  background-color: #fff;
}

.row {
  display: flex;
  justify-content: space-between;
}

.choice-image {
  width: 60%;
  margin: 0px;
}

/* == new_comparison == */

[name="weighted_score"] {
  display: none;
}

table select.custom-select {
  width: 75px;
}
