{% extends 'base.html' %}

{% block content %}

<h1>Comparison: {{comparison.name}}</h1>
<table class="table table-striped table-borderless">
    <thead>
        <tr>
            <th scope="col">Options</th>

            {%for header in comparison.rule.criteria%}
            <th scope="col">{{header.criterion}}</th>
            {%endfor%}

            <th scope="col">Total</th>
        </tr>
    </thead>
    <tbody>
        {%for option in comparison.options%}
        <tr>
            <th scope="row" data-test="option-name">{{option.option_name}}</th>

            {%for score in option.scores%}
            <td scope="col">{{score.weighted_score}}</td>
            {%endfor%}

            <th scope="col" data-test="total-score">{{option.total}}</th>
        </tr>
        {%endfor%}
    </tbody>
</table>

<script src="{{url_for('static', filename='comparison_details.js')}}"></script>

{% endblock content %}