{% extends 'base.html' %}

{% block content %}

<h1>Comparison details: {{comparison.name}}</h1>
<table class="table table-striped table-borderless">
    <thead>
        <tr>
            <th scope="col">Options</th>

            {%for header in comparison.rule.criteria%}
            <th scope="col">{{header.criterion}}</th>
            {%endfor%}

            <th scope="col">Total</th>
        </tr>
    </thead>
    <tbody>
        {%for option in comparison.options%}
        <tr>
            <th scope="row" data-test="option-name">{{option.option_name}}</th>

            {%for score in option.scores%}
            <td scope="col">{{score.weighted_score}}</td>
            {%endfor%}

            <th scope="col" data-test="total-score">{{option.total}}</th>
        </tr>
        {%endfor%}
    </tbody>
</table>

<script type="text/javascript">
    function highlightWinningRows() {
        let scores = Array.from(document.querySelectorAll('[data-test="total-score"]')).map(x => parseInt(x.textContent));
        let maxScore = Math.max(...scores)

        let winningRows = Array.from(document.querySelectorAll('[data-test="total-score"]'))
            .filter(el => el.textContent == maxScore);

        winningRows.forEach(element => { element.closest("tr").classList.add("table-success") });
    }

    highlightWinningRows();

</script>

{% endblock content %}