{% extends 'base.html' %}

{% block content %}

<h1>On comparison page</h1>
<form action="{{url_for('upsert_rule')}}" method="post">
    <div class="container">
        <!-- hidden field for storing comparison_ids when modifying comparisons-->
        <input id="comparison_id" name="comparison_id" type="hidden" value="">
        <input type="text" name="comparison_name" id="comparison_name" class="form-control"
            placeholder="comparison name" required />

        <ul>
            {% for rule in rules %}
            <li>{{rule}}</li>
            {% endfor %}
        </ul>

        <select name="rules" class="custom-select" class="form-control col-sm-4"
            onchange="populateComparisonTable(this)" data-test="rules-list">
            {% for rule in rules %}
            <option value="{{rule._id}}">{{rule.rule_name}}</option>
            {% endfor %}
        </select>
        <div class="comparison-container">
            <table id="comparison-table" class="table" style="border: 1px solid black;">
                <thead>
                    <tr class="comparison-header-row">
                        <th>Options to compare</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5" style="text-align: left;">
                            <input type="button" class="btn btn-lg btn-block " id="addrow" value="Add Row"
                                onclick="insertRow()" />
                        </td>
                    </tr>
                    <tr>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <button type="submit">Submit</button>
    <script>

        function getRuleById(rule_id) {
            const selectedRule = {{ rules | tojson
        }}.find((rule) => rule._id.includes(rule_id))
        return selectedRule

        }

        function getSelectedRule() {
            let dropDown = document.querySelector('[name=rules]');
            let rule_id = dropDown.getAttribute('rule_id');
            return getRuleById(rule_id);
        }

        function populateComparisonTable(selectedOption) {
            const selectedRuleId = selectedOption.value

            selectedOption.setAttribute('rule_id', selectedRuleId)
            const selectedRule = getRuleById(selectedRuleId)

            const headerRow = document.querySelector('.comparison-header-row')

            for (let i = 1; i <= selectedRule.criteria.length; i++) {
                let col = headerRow.insertCell(i);
                let ruleDetails = selectedRule.criteria[i - 1]
                let multiplier = ruleDetails.multiplier
                col.setAttribute('multiplier', multiplier);
                col.innerText = `${ruleDetails.criterion}\n(x${multiplier})`;

                console.log(col.innerText);
            }
        }

        let counter = 0;
        function insertRow() {
            let newRow = document.createElement("tr");
            const selectedRule = getSelectedRule();
            const criteria = selectedRule.criteria;

            let cols = `<td><input type="text" class="form-control" required name="option${counter}"/></td>`;

            for (let i = 0; i < criteria.length; i++) {
                cols += `
                <td>
                    <select name="${criteria[i]['criterion']}" class="form-control col-sm-4 custom-select">
                        <option value="5" selected>5</option>
                        <option value="4">4</option>
                        <option value="3">3</option>
                        <option value="2">2</option>
                        <option value="1">1</option>
                    </select>
                    <span name='multiplied'></span>
                </td>
            `;

            }
            cols += '<td><input type="button" class="ibtnDel btn btn-md btn-danger" value="Delete" onclick="deleteRow(this)"></td>';
            cols += '<td><span class="total">Placeholder</span></td>';

            newRow.innerHTML = cols;
            document.querySelector('#comparison-table tbody').appendChild(newRow)
            document.querySelector('#comparison-table tbody').lastChild.querySelector('[name*=option]').focus()
            counter += 1
        }

    </script>
</form>

{% endblock %}