{% extends 'base.html' %}

{% block content %}

<h1>On create rule page</h1>


<form action="{{url_for('create_rule')}}" method="post">
    <div class="container">
        <input type="text" name="rule_name" class="form-control" placeholder="rule name" required />

        <table id="criteria_table" class="table criteria">
            <thead>
                <tr>
                    <td>Criterion</td>
                    <td>Multiplier</td>
                    <td>Note</td>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5" style="text-align: left;">
                        <input type="button" class="btn btn-lg btn-block " id="addrow" value="Add Row" />
                    </td>
                </tr>
                <tr>
                </tr>
            </tfoot>
        </table>
    </div>
    <button type="submit">Submit</button>
</form>
<script>
    $(document).ready(function () {
        let counter = 0;

        $("#addrow").on("click", function () {
            let newRow = $("<tr>");

            let cols = `<td><input type="text" class="form-control" required name="name${counter}"/></td>`;

            cols += `
                <td>
                    <select name="multiplier${counter}" class="custom-select" class="form-control col-sm-4">
                        <option value="5" selected>5</option>
                        <option value="4">4</option>
                        <option value="3">3</option>
                        <option value="2">2</option>
                        <option value="1">1</option>
                    </select>
                </td>
            `;
            cols += `<td><input type="text" class="form-control" name="note${counter}"/></td>`;

            cols += '<td><input type="button" class="ibtnDel btn btn-md btn-danger"  value="Delete"></td>';

            newRow.append(cols);
            $("table.criteria").append(newRow);
            $("#criteria_table input[name*=name]").last().focus()
            counter++;
        });

        $("#addrow").click()


        $("table.criteria").on("click", ".ibtnDel", function (event) {
            $(this).closest("tr").remove();
            counter -= 1
        });


    });



    function calculateRow(row) {
        var price = +row.find('input[name^="price"]').val();

    }

    function calculateGrandTotal() {
        var grandTotal = 0;
        $("table.criteria").find('input[name^="price"]').each(function () {
            grandTotal += +$(this).val();
        });
        $("#grandtotal").text(grandTotal.toFixed(2));
    }
</script>

{% endblock content %}