{% extends 'base.html' %}

{% block content %}

<div class="card">
    <img src="{{url_for('static', filename='images/landing_image_smaller.png')}}" class="img-fluid choice-image"
    alt="Image with various choices">

    <div class="card-body">
      <h5 class="card-title">Be Smart</h5>
      <p class="card-text">Whether you are selecting a car, a school for your child or a partner
        - we can help you make a rational choice.</p>
    <p>Prioritise what is important for you - create your own comparison rules.</p>
    </div>
    <div class="card-body">
        <a href="{{url_for('rules')}}" class="btn btn-primary btn-lg" id="start-cta-button" role="button">Let's
            start</a>
    </div>
  </div>


{% endblock content %}