{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1>Create comparison</h1>
</div>

<div class="container">
    <!-- hidden field for storing comparison_ids when modifying comparisons-->
    <input id="comparison_id" name="comparison_id" type="hidden" value="">
    <input type="text" name="comparison_name" id="comparison_name" class="form-control" placeholder="comparison name"
        required />

    <select name="rules" class="custom-select" class="form-control" onchange="populateComparisonTable(this)"
        data-test="rules-list">
        <option selected disabled hidden value=''>Please select a rule</option>
        {% for rule in rules %}
        <option value="{{rule._id}}">{{rule.rule_name}}</option>
        {% endfor %}
    </select>
    <div class="comparison-container">
        <table id="comparison-table" class="table" style="border: 1px solid black;">
            <thead class="thead-light">
                <tr scope="col" class="comparison-header-row">
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5" style="text-align: left;">
                        <input type="button" class="btn btn-lg btn-block btn-info" id="addrow" value="Add Row"
                            onclick="insertRowIntoComparisonTable()" disabled />
                    </td>
                </tr>
                <tr>
                    <td colspan="5" style="text-align: right;">
                        <button onclick="saveComparison()" class="btn btn-primary btn-lg" data-test="save-comparison"
                            disabled>Save</button>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<script>
    function getRuleById(rule_id) {
        const rules_json = JSON.parse('{{ rules | tojson}}')
        const selectedRule = rules_json.find((rule) => rule._id.includes(rule_id))
        return selectedRule
    }
</script>

<script src="{{url_for('static', filename='new_comparison.js')}}"></script>

{% endblock %}