{% extends 'base.html' %}

{% block content %}

<h1>On create rule page</h1>

<script>
    let counter = 0
    function deleteRow(target) {
        $(target).closest("tr").remove();
    }

    function loadCriteria(criteria) {
        criteria.forEach(criteria => {
            document.getElementById("addrow").click();

            let nameInputs = document.querySelectorAll('input[name*=name]')
            nameInputs[nameInputs.length - 1].value = criteria.criterion;

            let weightSelects = document.querySelectorAll('select[name*=multiplier]')
            weightSelects[weightSelects.length - 1].value = criteria.multiplier;

            let noteInputs = document.querySelectorAll('input[name*=note]')
            noteInputs[noteInputs.length - 1].value = criteria.note;
        })
    }

    function insertRow() {
        // ToDo: consider refactoring using JS createElement and appendChild
        let newRow = document.createElement("tr");
        let cols = `<td><input type="text" class="form-control" required name="name${counter}"/></td>`;
        counter += 1
        cols += `
                <td>
                    <select name="multiplier${counter}" class="custom-select" class="form-control col-sm-4">
                        <option value="5" selected>5</option>
                        <option value="4">4</option>
                        <option value="3">3</option>
                        <option value="2">2</option>
                        <option value="1">1</option>
                    </select>
                </td>
            `;
        cols += `<td><input type="text" class="form-control" name="note${counter}"/></td>`;

        cols += '<td><input type="button" class="ibtnDel btn btn-md btn-danger" value="Delete" onclick="deleteRow(this)"></td>';

        newRow.innerHTML = cols;
        document.querySelector('#criteria_table tbody').appendChild(newRow)
        document.querySelector('#criteria_table tbody').lastChild.querySelector('[name*=name]').focus()
    }
</script>

<form action="{{url_for('upsert_rule')}}" method="post">
    <div class="container">
        <!-- hidden field for storing rule_ids when modifying rules-->
        <input id="rule_id" name="rule_id" type="hidden" value="">
        <input type="text" name="rule_name" id="rule_name" class="form-control" placeholder="rule name"
            required />

        <table id="criteria_table" class="table criteria">
            <thead>
                <tr>
                    <td>Criterion</td>
                    <td>Multiplier</td>
                    <td>Note</td>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5" style="text-align: left;">
                        <input type="button" class="btn btn-lg btn-block " id="addrow" value="Add Row"
                            onclick="insertRow()" />
                    </td>
                </tr>
                <tr>
                </tr>
            </tfoot>
        </table>
    </div>
    <button type="submit">Submit</button>

    {% if rule %}
    <!-- modifying existing rule -->
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            document.querySelector('#rule_name').value = '{{ rule.rule_name }}';
            document.querySelector('#rule_id').value = '{{ rule._id }}';
            loadCriteria({{ rule.criteria | tojson }});
        });
    </script>
    {% else %}
    <!-- creating new rule -->
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            document.getElementById("addrow").click();
        });
    </script>

    {% endif %}

</form>

{% endblock content %}