{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1>Rule details</h1>
</div>

<script src="{{url_for('static', filename='rule_details.js')}}"></script>

<form action="{{url_for('rules')}}" method="post">
    <div class="container">
        <!-- hidden field for storing rule_ids when modifying rules-->
        <input id="rule_id" name="rule_id" type="hidden" value="">
        <input type="text" name="rule_name" id="rule_name" class="form-control" placeholder="rule name" required />

        <table id="criteria_table" class="table table-hover criteria">
            <thead class="thead-light">
                <tr>
                    <th>Criterion</th>
                    <th>Multiplier</th>
                    <th>Note</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5">
                        <input type="button" class="btn btn-lg btn-block btn-info" id="addrow" value="Add Row"
                            onclick="insertRow()" />
                    </td>
                </tr>
                <tr>
                    <td colspan="5" style="text-align: right;">
                        <button class="btn btn-primary btn-lg" data-test="submit-button" type="submit">Submit</button>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>

    {% if rule %}
    <!-- modifying existing rule -->
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            document.querySelector('#rule_name').value = '{{ rule.rule_name }}';
            document.querySelector('#rule_id').value = '{{ rule._id }}';
            loadCriteria({{ rule.criteria | tojson }});
        });
        document.querySelector('form').setAttribute('action', `{{url_for('rules')}}/{{ rule._id }}`)
    </script>
    {% else %}
    <!-- creating new rule -->
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            document.getElementById("addrow").click();
        });
    </script>

    {% endif %}

</form>

{% endblock content %}