{% extends 'base.html' %}

{% block content %}

<h1>On rules page</h1>

<button id="createRuleButton" type="button" class="btn btn-primary">Create</button>

<ul class="rules">
    {% for rule in rules %}

    <div class="rule" id="{{rule._id}}">
        <li>{{rule.rule_name}} - {{rule.date_created}}</li>
        <!-- <input type="button" class="ibtnEdit btn btn-md btn-danger" value="Edit" onclick="openRuleDetails(this)"> -->
        <input type="button" class="delete-rule-button btn btn-md btn-danger" onclick="deleteRule(this)" value="Delete">
    </div>

    {% endfor %}
</ul>

<script type="text/javascript">
    document.getElementById("createRuleButton").onclick = () => location.href = '{{url_for("create_rule")}}';

    function deleteRuleFromDatabase(rule_id) {
        console.log(`trying to delete ${rule_id}`)
        let outcome

        let url = `/rules/delete/${rule_id}`
        console.log(url)
        fetch(url, { method: 'delete' })
            .then(response => response.json())
            .then(outcome => console.log(outcome))
    }

    function deleteRule(event) {
        {
            const parent_div = event.closest("div")
            console.log('deleting closest...')
            deleteRuleFromDatabase(parent_div.id)
            parent_div.remove()
        }
    }

</script>


{% endblock content %}