{% extends 'base.html' %}

{% block content %}

<h1>Rules</h1>
<h5>Create rules - outline and prioritise what is more important to you.</h5>

    <button id="createRuleButton" type="button" class="btn btn-primary btn-lg">Create</button>

    <div class="rules">

        <table class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Last Updated</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>

                {% for rule in rules %}

                <tr class="rule" id="{{rule._id}}">
                    <td>
                        <a href="#" class="edit-rule" data-toggle="tooltip" data-placement="top"
                            title="{{rule.timestamp}}" data-test="rule-name"
                            onclick="openRuleDetails(this.closest('tr').id)">{{rule.rule_name}}</a>
                    </td>
                    <td>
                        <span data-test="rule-update-time">{{rule.timestamp}}</span>
                    </td>
                    <td>
                        <ion-icon name="pencil-outline" size="large" class="edit-rule btn btn-md btn-light"
                            onclick="editRule(this)"></ion-icon>
                        <ion-icon name="trash-outline" size="large" class="delete-rule btn btn-md btn-light"
                            onclick="deleteRule(this)"></ion-icon>
                    </td>
                </tr>

                {% endfor %}
            </tbody>
        </table>

    </div>

    <script src="{{url_for('static', filename='rules.js')}}">

    </script>


    {% endblock content %}